<%=render 'layouts/header'%>
<div class="container">
  <div class="row">
    <div class="span6 offset3">
      <div class="btn-group">
        <%=link_to "出库", out_path, class: "btn btn-primary"%>
      </div>
    </div>
  </div>
</div>
